.lol {
    display: block;
    width:100%;
    height:100%;
    background-image: url(../images/green-mountain-36.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.lol2{
    display: block;
    width:100%;
    height:100%;
    background: rgba(255, 255, 255, 0.4);

}
.main_span{
    display: inline-block;
    width:50vw;
    height:40vh;
    margin-top:30vh;
    margin-left:5vw;
}
.main_desc{
    display: inline-block;
    width:50vw;
    margin-top:10vh;
    height: 10vh;
    color:white;
    font-size: 5vh;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.desc{
    width:50vw;
    height:20vh;
    font-family: 'Sarala', sans-serif;
    text-align:center;
    color:rgb(245, 245, 245);
    font-size:2.5vh; 
    
}
.head_form{
    width:25vw;
    height:15vh;
    background-color:rgb(255, 255, 255);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
}
.ours{
   
    display: block;
    height:40vh;
    width:25vw;
    background-color: rgb(230, 230, 230)
}
.input_nice{
    margin-top:2.5vh;
    margin-left:2.5vw;
    width:20vw;
    height:4vh;
    border:none;
    border-radius:4px;
}
.t_2{
    margin-top:2vh;
}
.t_3{
    height:8vh;
}
.t_but{
    height:5vh;
    width:8vw;
   font-family: 'Sarala', sans-serif;
   font-size:1.9vh;
   color:white;
   background-color:rgb(0,204,204);
   
}

.head_string{
    
    width:17vw;
    height:14vh;
    float:left;
}
.pakman{
    
    width:8vw;
    height:5vh;
    float:right;
    margin-top:2vh;
    font-size:1.7vh;
    font-family: 'Sarala', sans-serif;
    color:silver;
    padding-right:2vw;

    
}

.head_first_string{
    width:16vw;
    height:7vh;
    margin-top:2vh;
    padding-left:1vw;
    text-align:left;
    color: rgb(128, 128, 128);
    font-family: 'Sarala', sans-serif;
    font-size:2.25vh;
}
.head_second_string{
    width:16vw;
    height:4vh;
    margin-top:0vh;
    padding-left:1vw;
    text-align:left;
    color: rgb(128, 128, 128);
    font-family: 'Sarala', sans-serif;
    font-size:1.5vh;
}

.photo_string{
   
   display:inline-block;
   margin-top:1vh;
   width:7vw;
   height:12vh;

}