

#siteName
{
    display: table;
    margin: 0 auto;
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 5cm;
    background: linear-gradient(330deg, #c0a2a2 0%, #a39ec2 25%, #99c5bc 50%, #f1f1f1 75%, #521313 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}
.photo
{
    border: 3px solid white;
    border-radius: 20px;
    position: absolute;
    top:180px;
    
}

.numberOfPage
{
    padding: 3px;
    color: white;
    font-size: 1cm;
}
.button
{
    color: blue;
    font-size: 35px;
    height: 50px;
    width: 150px;
    background-color: green;
}
#buttonDelete
{
    position: absolute;
    top: -60px;
}
.border3px
{
    border: 3px solid white;
    color:white;
    background: linear-gradient(45deg, rgb(15, 28, 100), #014d70);
    border-radius: 30px;
}
.menu
{
    width: 780px;
    font-size: 50px;
}
.menu
{
    list-style: none;
    position: absolute;
    left: 1160px;
    top: -30px;
}
.menu li{
 float:left;

 margin: 0 10px 0 0;
 background: #044fac;
 border-radius: 5px;
 width: 150px;
 text-align: center;
 line-height: 50px;
}
.menu a{
 color: #fff;
 display: block;
 height: 50px;
 font-size: 20px;
 text-decoration: none;
}
.menu a:hover{
 background: #b4145b;
 border-radius: 5px;
}
#logo
{
    width: 150px;
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 75px;
    background-color: blue;
}
#siteName
{   
   
    width: 680px;
    position: absolute;
    font-size: 70px; 
    top: 15px;
    left: 250px;
  
}
#hatOfHome
{
   
    width : 100%;
    height: 160px;
   
}
#contentOfHome
{
    font-size: 40px;
    width: 900px;
    position: absolute;
    left:430px;
    top:300px;
}

html
{
    background-image: url(../images/generalBackground.jpg); 
}

#table
{
    border-collapse: separate; border-spacing: 4px;
    position: absolute;
    right: 450px;
    top: 300px;
}

.trHead
{
    color: rgb(109, 0, 0); 
    font-weight: 900;
    border-radius: 20px 20px 0 0; background: #2e82c3;
}
.td
{
    border: 1px solid #2e82c3; border-radius: 20px; background: #cbdfef;
    background: #194769; transition-duration: 5s;

}
.td a
{
    color: black;
}
.td:hover
{
    background: #070e14; transition-duration:5s;
    color:white;
}
.td:hover a{
    color: white;
}
.ContentWithPhoto
{
     position: absolute;
     right: 700px;
     /* top: 300px; */
}

#tableDiv
{
    font-size:25px;
}
#bioValentin
{
    width: 900px;
    position: absolute;
    left: 500px;
    top: 350px;
    font-size: 25px;
}
#HomerBioDiv
{
    width: 665px;
    position: absolute;
    left: 600px;
    top: 400px;
    font-size: 25px;
    border: 5px solid white;
}
#listOfposts
{
    position: absolute;
    font-size:50px;
    left:700px;
    top: 300px;
    color: white;
}
#userTable
{
    color: rgb(95, 11, 11);
    position: absolute;
    right: 700px;
}
#userTable:hover
{
    color: white;
    transition-duration: 5s;
}
#listOfposts a 
{
    color: white;
}
#listOfposts:hover a
{
    color: rgb(95, 11, 11);
    transition-duration: 5s;
}

.country
{
   position: absolute;
    top: 200px;
    font-size: 25px;
}

#about
{
    width: 900px; 
    position: absolute;
    top: 370px;
    left: 500px;
    font-size: 25px;
}

#paragraphInDivContentPost
{
    /* position: relative; */
    display:block;
    font-size: 25px;
    max-height: 310px;
    max-width: 700px;
}

#Content
{
    /* position: relative; */
    font-size: 25px;
    max-height: 310px;
    max-width: 700px;
    padding: 50px;
    /* overflow: hidden; */
    overflow: scroll;
    overflow-x:hidden;
    display: block;
  /*   word-wrap: break-word;
    word-break: break-all; */
}

#PostPhoto
{
    position: sticky;
    max-width: 700px; 
    max-height: 400px;
}
.createNewPost
{
    font-size: 1cm;
    color: white;
}
#formDeletePost
{
   position: absolute;
   top: 500px;
}
.inputText
{
    height: 1cm;
    font: bold italic 20px serif;
}
.textAreaContent
{
    position: absolute;
    top:310px;
    left:0px;
    resize: none;
    font: bold italic 20px serif;
}
#choosingPhotoAndSubmittingNewPost
{
    position: absolute;
    top:450px;
    left:0px;
}





